$color-first: rgb(33, 33, 33);
$color-second: rgb(38, 50, 56);
$color-third: rgb(128, 128, 128);
$color-fourth: rgb(236, 239, 241);
$color-fifth: rgb(253, 216, 53);
$color-sixth: rgb(255, 152, 0);
$color-seventh: rgb(207, 166, 52);

$background-color:#353535;
$item-color:#FF7F00;
$fons-color:#bbb;
